<div class="nested-fields">
  <div class="field">
    <%= f.association :ingredient_category %>
  </div>
  <div class="field">
    <%= f.input :amount %>
  </div>
  <%= link_to_remove_association 'remove ingredient', f %>
</div>