%p#notice= notice
%h1 Listing Cocktail Recipes
.uk-grid.uk-flex-around.data-uk-grid-match{class: 'uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l'}
  - @cocktail_recipes.each do |cocktail_recipe|
    = render CocktailRecipeComponent.new(recipe: cocktail_recipe, admin_signed_in: admin_signed_in?)
%br/
= link_to_if admin_signed_in?, 'New Cocktail recipe', new_cocktail_recipe_path
